<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shelter.review">.

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".MyApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" />
        <activity android:name=".mvp.ui.LoginActivity" />

        <provider
            android:name=".provider.MyProvider"
            android:authorities="com.example.shelter"
            android:exported="true"
            android:readPermission="com.example.shelter.read_permission"
            android:writePermission="com.example.shelter.write_permission" />

        <service
            android:name=".MainService"
            android:process=":remote" />
        <service android:name=".MyIntentService" />
        <service
            android:name=".RemoteService"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.shelter.review.remote_service" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

    <permission
        android:name="com.example.shelter.read_permission"
        android:protectionLevel="normal" />

    <permission
        android:name="com.example.shelter.write_permission"
        android:protectionLevel="normal" />

</manifest>